body {
    background-color: rgb(199, 223, 213);
    margin: 0 auto;
    font-family: 'Lora', serif;
}

/* Header */
header div {
    height: fit-content;
    background-color: rgb(21, 53, 45);
    width: 100%;
}

h1 {
    text-align: center;
    letter-spacing: 0.4rem;
    padding: 3vw;
    color:azure;
    font-size: 280%;
    font-family: 'Lora', serif;
    font-weight: 250;
}

h1 span {
    letter-spacing: 0;
    color:rgb(224, 98, 13);
}

/* Settings Area*/
#settings-box {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    background-color: rgb(65, 100, 91);
    height: fit-content;
    max-height: 250px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

select {
    position: absolute;
    left: 5%;
    margin: 2%;
    height: 7vw;
    width: 9vw;
    border-radius: 8px;
    background-color: azure;
    color:rgb(21, 53, 45);
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    font-size: large;
    outline: none;
}

#sides-select {
    left: 16%;
}

.icon-btn {
    position: absolute;
    right: 5%;
    margin: 2%;
    height: 3vw;
    width: 3vw;
    line-height: 3vw;
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    border: 3px solid azure;
    border-radius: 8px;
    color: azure;
}

#sound-btn {
    margin-top: 7%;
}

#mute-btn {
    margin-top: 7%;
    display: none;
}

#instructions div {
    margin-top: 3px;
    background-color: azure;
    position: absolute;
    right: 0;
    width: 50vw;
    padding: 8px;
    color:rgb(21, 53, 45);
    line-height: 20px;
    border-radius: 6px;
    z-index: 4;
}

#setting-dice-container {
    display: flex;
    justify-content: center;
    padding: 5%;
    padding-left: 150px;
    color: azure;
    font-size: large;
}

#setting-dice-container span {
    padding-right: 2vw;
}

#setting-dice-container i {
    font-size: xx-large;
    text-align: center;
}

.setting-die > i > span {
    display:none;
}

/* Simulation Area */
#sim-area {
    width: 90%;
    margin-left: 5%;
    background-color: azure;
    min-height: 250px;
    height: 25vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sim-die {
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: xxx-large;
    line-height: 80px;
    color: rgb(224, 98, 13);
    border: 8px solid rgb(224, 98, 13);
    margin: auto 30px;
    border-radius: 20px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 800;
}

.hold-die {
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: xxx-large;
    line-height: 80px;
    background-color: rgb(224, 98, 13);
    border: 8px solid rgb(224, 98, 13);
    color: azure;
    margin: auto 15px;
    border-radius: 20px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 800;
}

#roll-btn-wrapper {
    width: 90%;
    margin-left: 5%;
    background-color: azure;
    text-align: center;
}

#roll-btn {
    Height: 6vw;
    min-height: 60px;
    width: 18vw;
    min-width: fit-content;
    border-radius: 16px;
    margin-bottom: 10px;
    font-family: 'Lora', serif;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: x-large;
    background-color: rgb(149, 180, 173);
    color:rgb(46, 41, 38)
}

#roll-btn:hover {
    background-color: rgb(224, 98, 13);
    color: azure;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#sum-box {
    position: absolute;
    margin-left: 5%;
    background-color: rgb(224, 98, 13);
    color: azure;
    height: 60px;
    width: 10%;
    text-align: center;
    line-height: 60px;
    font-size: xxx-large;
    border-bottom-left-radius: 12px;
    font-family: 'Space Grotesk', sans-serif;
}

#history-box {
    position: absolute;
    width: 80%;
    margin-left: 15%;
    background-color: rgb(65, 100, 91);
    color: rgb(149, 180, 173);
    height: 60px;
    border-bottom-right-radius: 12px;
    text-indent: 5%;
    line-height: 80px;
    font-size: x-large;
    overflow: hidden;
}

/* Footer */
#filler {
    height: 120px;
}


#footer {
    position: fixed;
    z-index: 3;
    bottom: 0;
    height: 30px;
    background-color: rgb(21, 53, 45);
    width: 100%;
    text-align: center;
}

#footer button {
    background-color: rgb(21, 53, 45);
    line-height: 30px;
    color: rgb(149, 180, 173);
    border: none;
    padding: 0 7%;
}

#footer button:hover {
    color: rgb(224, 98, 13);
}

.footer-box {
    position: absolute;
    bottom: 30px;
    z-index: 3;
    width: 86%;
    margin-left: 5%;
    padding: 2%;
    text-align: center;
    background-color: azure;
    border-top: 6px solid rgb(21, 53, 45);
}

/* Media Queries */

/* For phones with small screens */
@media screen and (max-width: 480px) {
   
    h1 {
        margin-top: 0;
        padding: 1vw 4vw;
        font-size: 300%;
    }

    #settings-box {
        height: 90px;
    }
    
    select {
        position: absolute;
        left: 5%;
        margin: 2px;
        height: 42px;
        width: 80px;
        border-radius: 0;
        text-align: center;
        font-size: 100%;
    }

    #sides-select {
        margin-top: 46px;
        left: 5%;
    }

    #setting-select {
        border-top-left-radius: 10px;
    }
    #setting-dice-container {
        padding: 30px;
        padding-left: 80px;
    }
    #setting-dice-container span {
        max-width: 40px;
        padding-right: 2%;
        text-align: center;
    }
    .icon-btn {
        position: absolute;
        margin: 0;
        margin: 3px;
        height: 30px;
        width: 30px;
        border-radius: 10px;
        line-height: 30px;
        font-size: x-large;
    }
    
    #sound-btn {
        margin-top: 51px;
    }
    
    #mute-btn {
        margin-top: 51px;
        display: none;
    }
    
    #instructions div {
        font-size: medium;
        width: 80vw;
    }

    .sim-die {
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: xxx-large;
        line-height: 50px;
        margin: auto 22px;
        border-radius: 12px;
    }

    .hold-die {
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: xxx-large;
        line-height: 50px;
        margin: auto 10px;
        border-radius: 12px;
    }

    #roll-btn {
        Height: 100px;
        width: 100px;
        border-radius: 50%;
        margin-bottom: -16px;
        position: relative;
        z-index: 3;
    }

    #sum-box {
        z-index: 2;
        height: 60px;
        width: 60px;
        font-size: xx-large;
    }

    #history-box {
        right: 0;
        width: 80%;
        margin-left: auto;
        margin-right: 5%;
        text-indent: 40px;
        font-size: large;
    }
}

/* For large phones and tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
    
    h1 {
        margin-top: 0;
        font-size: 9vw;
    }

    #settings-box {
        height: 90px;
    }
    
    select {
        position: absolute;
        left: 5%;
        margin: 2px;
        height: 42px;
        width: 80px;
        border-radius: 0;
        text-align: center;
        font-size: 100%;
    }

    #sides-select {
        margin-top: 46px;
        left: 5%;
    }

    #setting-select {
        border-top-left-radius: 10px;
    }

    #setting-dice-container {
        padding: 30px;
        padding-left: 80px;
    }
    #setting-dice-container span {
        max-width: 40px;
        padding-right: 10px;
        text-align: center;
    }
    .icon-btn {
        position: absolute;
        margin: 0;
        margin: 3px;
        height: 25px;
        width: 25px;
        border-radius: 10px;
        line-height: 25px;
        font-size: x-large;
    }
    
    #sound-btn {
        margin-top: 56px;
    }
    
    #mute-btn {
        margin-top: 56px;
        display: none;
    }
    
    #instructions div {
        font-size: medium;
        width: 80vw;
        border: 3px solid rgb(21, 53, 45);
    }

    #sim-area {
        height: 70vw;
    }

    .sim-die {
        width: 12vw;
        height: 12vw;
        text-align: center;
        font-size: 10vw;
        line-height: 12vw;
        margin: auto 7%;
        border-radius: 16px;
        border-width: 10px;
    }
    
    .hold-die {
        width: 12vw;
        height: 12vw;
        text-align: center;
        font-size: 10vw;
        line-height: 12vw;
        margin: auto 2%;
        border-radius: 16px;
    }

    #roll-btn {
        Height: 120px;
        width: 120px;
        border-radius: 50%;
        margin-bottom: -16px;
        position: relative;
        z-index: 3;
    }

    #sum-box {
        z-index: 2;
        height: 80px;
        width: 80px;
        line-height: 80px;
        font-size: xxx-large;
    }

    #history-box {
        right: 0;
        height: 80px;
        width: 85%;
        margin-left: auto;
        margin-right: 5%;
        text-indent: 70px;
        line-height: 110px;
        font-size: large;
    }
}

/* for large tablets and small laptops */
@media screen and (min-width: 769px) and (max-width: 1024px){
    
    h1 {
        font-size: 320%;
    }

    select {
        font-size: large;
        margin: 2%;
        height: 7vw;
        width: 11vw;
    }

    #sides-select {
        left: 18%;
    }

    #setting-dice-container {
        padding-left: 200px;
    }

    #sound-btn {
        margin-top: 7%;
    }

    
    #mute-btn {
        margin-top: 7%;
        display: none;
    }
    
    .sim-die {
        width: 8vw;
        height: 8vw;
        text-align: center;
        font-size: 6vw;
        line-height: 8vw;
        margin: auto 30px;
    }
    
    .hold-die {
        width: 8vw;
        height: 8vw;
        text-align: center;
        font-size: 6vw;
        line-height: 8vw;
        color: azure;
        margin: auto 15px;
    }
}

/* For large screens */
@media screen and (min-width: 1441px) {
    
    header div {
        margin-top: 50px;
    }
    
    #settings-box {
        width: 70%;
        margin-left: 15%;
    }

    #setting-dice-container {
        padding-left: 300px;
    }

    #setting-dice-container i {
        font-size: 250%;
    }

    select {
        position: absolute;
        left: 15%;
        margin: 2%;
        height: 80px;
        width: 8vw;
        border-radius: 8px;
        background-color: azure;
        color:rgb(21, 53, 45);
    }
    
    #sides-select {
        left: 25%;
    }

    .icon-btn {
        position: absolute;
        right: 15%;
        margin: 10px;
        height: 25px;
        width: 25px;
        line-height: 25px;
    }
    
    #sound-btn {
        margin-top: 10px;
        margin-right: 50px;
    }
    
    #mute-btn {
        margin-top: 10px;
        margin-right: 50px;
    }

    #instructions div {
        width: 30vw;
    }

    #sim-area {
        width: 70%;
        height: 35vh;
        margin-left: 15%;
    }

    #roll-btn-wrapper {
        width: 70%;
        margin-left: 15%;
    }
    
    #roll-btn {
        Height: 80px;
        width: 160px;
    }
    
    #sum-box {
        position: absolute;
        margin-left: 15%;
    }
    
    #history-box {
        position: absolute;
        width: 60%;
        margin-left: 25%;
    }
    
    /* Footer */
    #filler {
        height: 120px;
    }
}