body {
    background-color: rgb(199, 223, 213);
    margin: 0 auto;
}
/* Header */
header div {
    height: fit-content;
    background-color: rgb(21, 53, 45);
    width: 100%;
}

h1 {
    text-align: center;
    letter-spacing: 0.4rem;
    padding: 5vw;
    color:azure;
    font-size: 250%;
    font-family: 'Lora', serif;
    font-weight: 250;
}

h1 span {
    letter-spacing: 0;
    color:rgb(224, 98, 13);
}

/* Settings Area*/

#settings-box {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    background-color: rgb(65, 100, 91);
    height: fit-content;
    max-height: 250px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.setting-select {
    position: relative;
    left: -10%;
    margin: 3%;
    min-height: 30px;
    height: 6vw;
    min-width: fit-content;
    width: 6vw;
    border-radius: 8px;
}

#setting-dice-container {
    display: flex;
    justify-content: center;
    padding: 5%;
    padding-left: 30px;
    color: azure;
    font-size: x-large;
}

#setting-dice-container span {
    padding-right: 5vw;
}

/* Simulation Area */

#sim-area {
    width: 90%;
    margin-left: 5%;
    background-color: azure;
    min-height: 300px;
    height: 25vw;
}

#history-box {
    width: 90%;
    margin-left: 5%;
    background-color: rgb(65, 100, 91);
    height: 50px;
}