body {
    background-color: rgb(199, 223, 213);
    margin: 0 auto;
}
/* Header */
header div {
    height: fit-content;
    background-color: rgb(21, 53, 45);
    width: 100%;
}

h1 {
    text-align: center;
    letter-spacing: 0.4rem;
    padding: 3vw;
    color:azure;
    font-size: 250%;
    font-family: 'Lora', serif;
    font-weight: 250;
}

h1 span {
    letter-spacing: 0;
    color:rgb(224, 98, 13);
}

/* Settings Area*/

#settings-box {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    background-color: rgb(65, 100, 91);
    height: fit-content;
    max-height: 250px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

select {
    position: absolute;
    left: 5%;
    margin: 3%;
    height: 6vw;
    width: 6vw;
    border-radius: 8px;
}

#sides-select {
    left: 12%;
}


#setting-dice-container {
    display: flex;
    justify-content: center;
    padding: 5%;
    padding-left: 100px;
    color: azure;
    font-size: xx-large;
}

#setting-dice-container span {
    padding-right: 5vw;
}

.setting-die > i > span {
    display:none;
}

#active-setting-die span {
    display:none;
}

#caret-container {
    line-height: 0;
    height: 50px;
    margin-top: -31px;
    color: rgb(224, 98, 13);
}

#increase-btn {
    margin-left: 4px;
}

#decrease-btn {
    margin-left: 4px;
}

/* Simulation Area */

#sim-area {
    width: 90%;
    margin-left: 5%;
    background-color: azure;
    min-height: 300px;
    height: 25vw;
    display: flex;
    justify-content: center;
}

.sim-die {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: xx-large;
    line-height: 50px;
    color: rgb(224, 98, 13);
    border: 8px solid rgb(224, 98, 13);
    margin: auto;
    border-radius: 12px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 800;
}

.hold-die {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: xx-large;
    line-height: 50px;
    background-color: rgb(224, 98, 13);
    border: 8px solid rgb(224, 98, 13);
    color: azure;
    margin: auto;
    border-radius: 12px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 800;
}

#roll-btn-wrapper {
    width: 90%;
    margin-left: 5%;
    background-color: azure;
    text-align: center;
}


#sum-box {
    position: absolute;
    margin-left: 5%;
    background-color: rgb(224, 98, 13);
    color: azure;
    height: 60px;
    width: 10%;
    text-align: center;
    line-height: 60px;
    font-size: xx-large;
    border-bottom-left-radius: 12px;
    font-family: 'Space Grotesk', sans-serif;
}

#history-box {
    position: absolute;
    width: 80%;
    margin-left: 15%;
    background-color: rgb(65, 100, 91);
    height: 60px;
    border-bottom-right-radius: 12px;
    text-indent: 5%;
    line-height: 60px;
    font-size: large;
    overflow: hidden;
}